.header{
    position: sticky;
    top: 0;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 1rem 2rem;
    background: #14151A;
    /*border-bottom: 1px solid #333;*/
}

.header-top {
    display: flex;
    width: 100%;
    align-items: center;
    background: #14151A;
}

#logo {
    height: 1rem;
    cursor: pointer;
}

/* Grouping */
.header-left {
    display: flex;
    align-items: center;
    gap: 2rem;
    flex: 1;
}

.header-right {
    margin-left: auto;
}

/* Desktop Nav */
.desktop-nav {
    display: flex;
    gap: 1.5rem;
}

.desktop-nav a {
    text-decoration: none;
    color: #ECEDEE;
    font-weight: 500;
    transition: color 0.3s ease;
}

.desktop-nav a:hover {
    color: var(--tint-light);
}

/* Toggle hidden by default */
.menu-toggle {
    display: none;
    font-size: 1.5rem;
    color: #ECEDEE;
    background: none;
    border: none;
    cursor: pointer;
}

/* Mobile nav hidden by default */
.mobile-nav {
    display: none;
}

/* --- MOBILE --- */
@media (max-width: 768px) {
    /* Hide desktop items */
    .desktop-nav,
    .desktop-only {
        display: none;
    }

    /* Show hamburger */
    .menu-toggle.mobile-only {
        display: block;
    }

    /* Mobile nav menu */
    .mobile-nav {
        background: #14151A;
        display: flex;

        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 1rem;
        display: none;

    }

    .mobile-nav.open {
        display: flex;
        gap: 0.5rem;
    }

    .mobile-nav a {
        color: #ECEDEE;
        text-decoration: none;
        font-weight: 500;
        padding: 0.5rem 0;
    }

    .mobile-nav a:hover {
        color: var(--tint-light);
    }
}
